snippet subj
let subject = '$0';
jest.dontMock(subject);

endsnippet

snippet des
describe('${1}', () => {

	${0}

});
endsnippet

snippet it
it('${1}', () => {
	${0}
});
endsnippet

snippet be
expect(${1}).toBe(${0});
endsnippet
