! urxvt
URxvt.font: xft:Inconsolata:pixelsize=18
URxvt.lineSpace: 8
*.background: #2d2d2d

URxvt.scrollBar: false

URxvt.perl-ext-common:      default,url-select
URxvt.url-select.launcher:  chromium
URxvt.url-select.underline: true
URxvt.keysym.M-u:           perl:url-select:select_next

! Fonts 
Xft.antialias: true
Xft.hinting: true
Xft.rgba: rgb
Xft.hintstyle: hintfull
Xft.dpi: 220

! rofi
rofi.font: Inconsolata 22
rofi.hide-scrollbar: true
rofi.kb-row-up: Control+k
rofi.kb-row-down: Control+j
rofi.modi: combi
rofi.combi-modi: window,run,ssh,Search:rofi-surfraw
rofi.threads: 0

rofi.color-enabled: true
rofi.color-window: #393939, #393939, #268bd2
rofi.color-normal: #393939, #ffffff, #393939, #268bd2, #ffffff
rofi.color-active: #393939, #268bd2, #393939, #268bd2, #205171
rofi.color-urgent: #393939, #f3843d, #393939, #268bd2, #ffc39c
